*, :after, :before {
  box-sizing: border-box;
}

body
 {
   margin:auto ;
   max-width: 35em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #34568B;
  text-align: center;
}

.justify-content-center
 {
    justify-content: center!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.topper-primary .col {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.topper .topper__date {
  margin-bottom: 1px;
}

.wh-breadcrumbs 
{
  display: block ;
  margin-top:100px;
  width: 100%;

}
.breadcrumbs__wrap {
  border-top: 1px solid #d7dae2;
  flex-direction: row;
  justify-content: center;
  overflow-x:visible;

  
}
.wh-breadcrumbs__wrap {
  align-items: center;
  border-bottom: px solid #d7dae2;
  display: flex;
  flex-direction: row;
  margin:10px;
  min-height: 36px;
  
}


